* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  background-color: rgb(150, 211, 211);
  width: 100%;
  /* height: ; */
  display: flex;
  justify-content: space-around;
}
.header-info {
  border: 1px solid saddlebrown;
  justify-self: center;
  align-self: center;
  width: 50%;
  height: 300px;
}
.header-title {
  font-size: 2.5rem;
  margin-bottom: 10px;
}
.skip {
  background: linear-gradient(to right, #FBA24F, #FF1E1E);
  color: transparent;
  background-clip: text;
}
.header-paragraph {
  color: #828282;
  margin-bottom: 20px;
  font-size: 1rem;
}
.header-button {
  border-radius: 100px;
  text-align: center;
  align-content: center;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  width: 120px;
  height: 35px;
  background: linear-gradient(to right, #fba24f, #fc2626);
}
/* .header-img{
  background: url(images/shapes/Group\ 8450.png);
  position: relative;
} */
.header-img img {
  width: 100%;
  height: 300px;
  /* position: absolute; */
  border: 1px solid aquamarine;
}
