* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  width: 100%;
  height: 310px;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.header-info {
  align-content: center;
  width: 40%;
  height: 300px;
}
.header-title {
  font-size: 2.5rem;
  margin-bottom: 10px;
}
.skip {
  background: linear-gradient(to right, #fba24f, #ff1e1e);
  color: transparent;
  background-clip: text;
}
.header-paragraph {
  color: #828282;
  margin-bottom: 20px;
  font-size: 1rem;
}
.header-button {
  border-radius: 100px;
  text-align: center;
  align-content: center;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  width: 120px;
  height: 35px;
  background: linear-gradient(to right, #fba24f, #fc2626);
  box-shadow: 1px 1px 2px 2px rgb(233, 195, 183);
}

.header-button:hover {
  transform: scale(1.02);
}
.header-img {
  /* background: url(images/shapes/Group\ 8450.png); */
  /* position: relative; */
}
.header-img img {
  width: 100%;
  height: 300px;
  /* position: absolute; */
}
/* About me section  */
.About-me {
  display: flex;
  justify-self: center;
  justify-content: center;
  align-self: center;
  gap: 0px;
  width: 100%;
  height: 300px;
  background: url(images/shapes/7.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.about {
  width: 40%;
  height: 300px;
  text-align: center;
  align-content: center;
}
.about img {
  width: 60%;
  height: 300px;
  padding-top: 20px;
}
.about-info {
  width: 40%;
  align-content: center;
}
.about-title {
  font-size: 2rem;
  color: #707070;
  padding-bottom: 15px;
}
.about-paragraph {
  font-size: 1rem;
  color: #18191f;
  padding-bottom: 15px;
}
/* Responsive for mobile devices */
@media screen and (max-width: 576px) {
  header {
    width: 90%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    justify-self: center;
    margin-bottom: 5px;
  }
  .header-info {
    align-content: center;
    width: 80%;
    height: 100%;
    text-align: center;
  }
  .header-title {
    font-size: 1.5rem;
    margin-bottom: 8px;
  }
  .header-paragraph {
    margin-bottom: 5px;
    font-size: 0.8rem;
  }
  .header-button {
    text-align: center;
    align-content: center;
    font-size: 0.8rem;
    width: 100px;
    height: 30px;
    justify-self: center;
  }
  .header-img {
    width: 80%;
    height: 140px;
    justify-self: center;
    justify-content: center;
    text-align: center;
  }
  .header-img img {
    width: 50%;
    height: 120px;
  }
}
